#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Hard Disk
Comment=Explore hard disk contents
Exec=thunar /
Icon=/usr/share/icons/Catalina/devices/128/harddisk.svg
Terminal=false
Type=Application
StartupNotify=false
