[Desktop Entry]
Version=1.0
Name=Orage Globaltime
Name[ar]=التوقيت العالمي أوراج
Name[ast]=Hora global Orage
Name[be]=Глабальны час Orage
Name[bg]=Orage Световно време
Name[ca]=Hora global d'Orage
Name[cs]=Globální čas aplikace Orage
Name[de]=Orage Weltzeit
Name[el]=Παγκόσμια ώρα του Orage
Name[en_AU]=Orage Globaltime
Name[en_GB]=Orage Globaltime
Name[es]=Hora global de Orage
Name[eu]=Orage ordu-globala
Name[fi]=Oragen maailmanlaajuinen aika
Name[fr]=Heure globale Orage
Name[hr]=Orage Globalno vrijeme
Name[hu]=Orage globális idő
Name[id]=Waktu Global Orage
Name[it]=Ora globale di Orage
Name[ja]=Orage 世界時計
Name[ko]=Orage 세계시간
Name[lt]=Orage pasaulio laikas
Name[lv]=Orage Pasaules laiks
Name[ms]=Orage Globaltime
Name[nb]=Orage Globaltid
Name[nl]=Orage Wereldtijd
Name[nn]=Orage Globaltid
Name[oc]=Temps Global Orage
Name[pl]=Światowy czas Orage
Name[pt]=Horário global Orage
Name[pt_BR]=Horário mundial do Orage
Name[ru]=Мировое время Orage
Name[si]=ඔරේජ්හි විශ්ව වේලාව
Name[sk]=Orage - Svetový čas
Name[sr]=Опште време Оража
Name[sv]=Orage globaltid
Name[th]=เวลาสากลของ Orage
Name[tr]=Orage Evrensel Zaman
Name[ug]=ئورىج(Orage) دۇنيا ۋاقتى
Name[uk]=Світовий час Orage
Name[vi]=Orage Globaltime
Name[zh_CN]=Orage 全球时间
Name[zh_TW]=Orage 國際時間
Comment=Show clocks from different countries
Comment[ar]=عرض الساعات من مختلف البلدان
Comment[ast]=Amosar relós de diferentes países
Comment[be]=Паказвае гадзіннікі з розных краін
Comment[bg]=Показване на часовници от различни страни
Comment[ca]=Mostra els rellotges de diferents països
Comment[cs]=Zobrazit čas jiných zemí
Comment[de]=Uhrzeiten verschiedener Länder zeigen
Comment[el]=Εμφάνιση ρολογιών από διαφορετικές χώρες
Comment[en_AU]=Show clocks from different countries
Comment[en_GB]=Show clocks from different countries
Comment[es]=Muestra el reloj de diferentes países
Comment[eu]=Ikusi herrialde ezberdinetako ordulariak
Comment[fi]=Näytä muiden maiden kellot
Comment[fr]=Afficher les horloges de différents pays
Comment[gl]=Mostrar reloxos de diferentes paises
Comment[hr]=Pokaži satove različitih zemalja
Comment[hu]=Különböző országok óráinak megjelenítése
Comment[id]=Tampilkan jam dari beragam negara
Comment[it]=Mostra l'orologio di diversi paesi
Comment[ja]=様々な地域の時刻を表示します。
Comment[ko]=다른 국가의 시계를 보여줍니다
Comment[lt]=Rodo įvairių šalių laiką
Comment[lv]=Rādīt pulksteņus no dažādām valstīm
Comment[ms]=Tunjuk jam dari negara lain
Comment[nb]=Vis klokker fra forskjellige land
Comment[nl]=Toon klokken van verschillende landen
Comment[nn]=Vis klokker frå ulike land
Comment[oc]=Veire los relòtges de diferents païses
Comment[pl]=Pokaż 
Comment[pt]=Mostrar relógios de outros países
Comment[pt_BR]=Mostrar relógios de diferentes países
Comment[ru]=Показывать время других стран
Comment[si]=විවිධ රටවලින් ඔරලෝසු පෙන්වන්න
Comment[sk]=Zobrazovať čas iných krajín
Comment[sr]=Прикажите часовнике за разне државе
Comment[sv]=Visa klockor från olika länder
Comment[th]=แสดงนาฬิกาของประเทศต่างๆ
Comment[tr]=Farklı ülkelerden saatleri göster
Comment[ug]=ئوخشىمىغان دۆلەتلەرنىڭ سائىتىنى كۆرسەت
Comment[uk]=Відображати годинники з різних країн
Comment[vi]=Hiển thị đồng hồ từ những quốc gia khác nhau
Comment[zh_CN]=显示不同国家的时钟
Comment[zh_TW]=顯示不同國家的時鐘
Exec=globaltime
Icon=orage_globaltime
StartupNotify=true
Terminal=false
Type=Application
Categories=X-XFCE;Office;Clock;GTK;Utility;
NoDisplay=true
GenericName=Globaltime
GenericName[ar]=التوقيت العالمي
GenericName[ast]=Tiempu global
GenericName[be]=Глабальны час
GenericName[bg]=Световно време
GenericName[ca]=Hora global
GenericName[cs]=Globální čas
GenericName[de]=Weltzeit
GenericName[el]=Παγκόσμια ώρα
GenericName[en_AU]=Globaltime
GenericName[en_GB]=Globaltime
GenericName[es]=Hora global
GenericName[eu]=Ordu-globala
GenericName[fi]=Maailmanlaajuinen aika
GenericName[fr]=Heure globale
GenericName[hr]=Globalno vrijeme
GenericName[hu]=Globális idő
GenericName[id]=Waktu Global
GenericName[it]=Ora globale
GenericName[ja]=世界時計
GenericName[ko]=세계시간
GenericName[lt]=Pasaulio laikas
GenericName[lv]=Pasaules laiks
GenericName[ms]=Globaltime
GenericName[nb]=Globaltid
GenericName[nl]=Wereldtijd
GenericName[nn]=Globaltid
GenericName[oc]=Temps Global
GenericName[pl]=Czas światowy
GenericName[pt]=Horário global
GenericName[pt_BR]=Horário mundial
GenericName[ru]=Мировое время
GenericName[si]=ගෝලීය වේලාව
GenericName[sk]=Svetový čas
GenericName[sr]=Опште време
GenericName[sv]=Globaltid
GenericName[th]=เวลาสากล
GenericName[tr]=Evrensel Zaman
GenericName[ug]=دۇنيا ۋاقتى(GlobalTime)
GenericName[uk]=Світовий час
GenericName[vi]=Globaltime
GenericName[zh_CN]=全球时间
GenericName[zh_TW]=全球時間
