[Desktop Entry]
Version=1.0
Name=Orage Calendar
Name[ar]=تقويم أوراج
Name[ast]=Calendariu d'Orage
Name[be]=Каляндар Orage
Name[bg]=Календар Orage
Name[ca]=Calendari Orage
Name[cs]=Kalendář Orage
Name[de]=Orage-Kalender
Name[el]=Ημερολόγιο Orage
Name[en_AU]=Orage Calendar
Name[en_GB]=Orage Calendar
Name[es]=Calendario Orage
Name[eu]=Orage egutegia
Name[fi]=Orage-kalenteri
Name[fr]=Calendrier - Orage
Name[hr]=Orage kalendar
Name[hu]=Orage naptár
Name[id]=Kalender Orage
Name[it]=Calendario di Orage
Name[ja]=Orage カレンダー
Name[kk]=Orage күнтізбе бағдарламасы
Name[ko]=Orage 달력
Name[lt]=Orage kalendorius
Name[lv]=Orage kalendārs
Name[ms]=Kalendar Orage
Name[nb]=Orage Kalender
Name[nl]=Orage kalender
Name[nn]=Orage-kalender
Name[oc]=Calendièr - Orage
Name[pl]=Kalendarz Orage
Name[pt]=Calendário Orage
Name[pt_BR]=Orage Calendário
Name[ru]=Календарь Orage
Name[sk]=Kalendár Orage
Name[sr]=Оражов колендар
Name[sv]=Orage-kalendern
Name[th]=ปฏิทิน Orage
Name[tr]=Orage  Takvim
Name[ug]=Orage يىلنامە
Name[uk]=Календар Orage
Name[zh_CN]=Orage 日历
Name[zh_TW]=Orage 行事曆
Comment=Desktop calendar
Comment[am]=የገበታ ካለንደር
Comment[ar]=تقويم سطح المكتب
Comment[ast]=Calendariu d'escritoriu
Comment[be]=Настольны каляндар
Comment[bg]=Календар за работният плот
Comment[ca]=Calendari d'escriptori
Comment[cs]=Kalendář pracovního prostředí
Comment[de]=Arbeitsplatz-Kalender
Comment[el]=Ημερολόγιο γραφείου
Comment[en_AU]=Desktop calendar
Comment[en_GB]=Desktop calendar
Comment[eo]=Labortabla kalendaro
Comment[es]=Calendario de escritorio
Comment[et]=Töölaua kalender
Comment[eu]=Idazmahai egutegia
Comment[fi]=Työpöytäkalenteri
Comment[fr]=Calendrier du bureau
Comment[gl]=Calendario para o escritorio
Comment[he]=לוח שנה לשולחן העבודה
Comment[hr]=Kalendar radne površine
Comment[hu]=Asztali naptár
Comment[id]=Kalender destop
Comment[it]=Calendario per la scrivania
Comment[ja]=卓上カレンダー
Comment[kk]=Жұмыс үстел күнтізбесі
Comment[ko]=데스크톱 달력
Comment[lt]=Darbalaukio kalendorius
Comment[lv]=Darbavirsmas kalendārs
Comment[ms]=Kalendar desktop
Comment[nb]=Skrivebordskalender
Comment[nl]=Bureaubladkalender
Comment[nn]=Skrivebordskalender
Comment[oc]=Calendièr del burèu
Comment[pl]=Kalendarz pulpitu
Comment[pt]=Calendário do ambiente de trabalho
Comment[pt_BR]=Calendário do Ambiente de Trabalho
Comment[ro]=Calendar desktop
Comment[ru]=Простой календарь
Comment[sk]=Kalendár pracovnej plochy
Comment[sq]=Kalendar desktopi
Comment[sr]=Колендар радне површи
Comment[sv]=Skrivbordskalender
Comment[th]=ปฏิทินบนพื้นโต๊ะ
Comment[tr]=Masaüstü takvimi
Comment[ug]=ئۈستەلئۈستى يىلنامىسى
Comment[uk]=Календар стільниці
Comment[ur]=ڈیسک ٹاپ کیلینڈر
Comment[ur_PK]=ڈیسک ٹاپ کیلینڈر
Comment[vi]=Lịch màn hình
Comment[zh_CN]=桌面日历
Comment[zh_TW]=桌面行事曆
Exec=orage %F
Icon=xfcalendar
StartupNotify=true
MimeType=text/calendar;
Terminal=false
Type=Application
Categories=X-XFCE;Office;Calendar;GTK;
NoDisplay=true
GenericName=Calendar
GenericName[am]=ካለንደር
GenericName[ar]=تقويم
GenericName[ast]=Calendariu
GenericName[be]=Каляндар
GenericName[bg]=Календар
GenericName[ca]=Calendari
GenericName[cs]=Kalendář
GenericName[de]=Kalender
GenericName[el]=Ημερολόγιο
GenericName[en_AU]=Calendar
GenericName[en_GB]=Calendar
GenericName[eo]=Kalendaro
GenericName[es]=Calendario
GenericName[et]=Kalender
GenericName[eu]=Egutegia
GenericName[fi]=Kalenteri
GenericName[fr]=Calendrier
GenericName[gl]=Calendario
GenericName[he]=לוח שנה
GenericName[hr]=Kalendar
GenericName[hu]=Naptár
GenericName[id]=Kalender
GenericName[it]=Calendario
GenericName[ja]=カレンダー
GenericName[kk]=Күнтізбе
GenericName[ko]=달력
GenericName[lt]=Kalendorius
GenericName[lv]=Kalendārs
GenericName[ms]=Kalendar
GenericName[nb]=Kalender
GenericName[nl]=Kalender
GenericName[nn]=Kalender
GenericName[oc]=Calendièr
GenericName[pl]=Kalendarz
GenericName[pt]=Calendário
GenericName[pt_BR]=Calendário
GenericName[ro]=Calendar
GenericName[ru]=Календарь
GenericName[sk]=Kalendár
GenericName[sq]=Kalendar
GenericName[sr]=Колендар
GenericName[sv]=Kalender
GenericName[th]=ปฏิทิน
GenericName[tr]=Takvim
GenericName[ug]=يىلنامە
GenericName[uk]=Календар
GenericName[ur]=کیلینڈر
GenericName[ur_PK]=کیلینڈر
GenericName[vi]=Lịch
GenericName[zh_CN]=日历
GenericName[zh_TW]=行事曆
