[Desktop Entry]
Type=Application
Name=Spotlight
Comment=Application finder
Icon=/usr/share/icons/Catalina/catfish-symbolic.png
Exec=spotlight
Categories=Utility;
X-XFCE-Source=file:///usr/share/applications/spotlight.desktop
