[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=logon
Comment=
Exec=sh -c "sleep 4 && mpg123 /usr/share/sounds/logon.mp3"
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

