[user]
pinned=/usr/share/applications/org.xfce.Catfish.desktop;/usr/share/applications/google-chrome.desktop;/usr/share/applications/thunar.desktop;/usr/share/applications/org.gnome.Software.desktop;/usr/share/applications/org.gnome.Evolution.desktop;/usr/share/applications/libreoffice-writer.desktop;/usr/share/applications/libreoffice-calc.desktop;/usr/share/applications/xfce4-terminal.desktop;/usr/share/applications/mousepad.desktop;
indicatorStyle=2
